/* Add this to your CSS file */
.parent-container {
  display: flex;
  flex-direction: column;  /* Stacks children vertically */
  justify-content: flex-start; /* Aligns children at the top */
  align-items: center;     /* Centers children horizontally */
  height: 100vh;           /* Full viewport height */
}


  

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-name {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .profile-email {
    font-size: 18px;
    color: gray;
  }
  

  .title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    text-align: center;
}