  .drawer-container {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .drawer {
    position: absolute;
    width: 400px;
    height: 100vh;
    background-color: #fdf7fe;
    color: #1c1b1f;
    transform: translateX(780px);
    transition: transform 0.5s ease-in-out;
    overflow: 'hidden';
    z-index: 2000;
    flex-wrap: wrap;
  }
  

  .drawer ul {
    list-style-type: 'none';
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0; 
}
  
  .drawer ul li {
    list-style-type: 'none';
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .drawer ul li a {
    color: #fff;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .opened {
    transform: translateX(353px);
  }

  .drawer-header {
    background-color: #000000;
    width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .overlay {
    position: absolute;
    top: 107px;
    left: 0;
    width: 100%; /* Cover the entire width of the viewport */
    height: 100%; /* Cover the entire height of the viewport */
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent black background */
    z-index: 1000; /* Make sure it's on top of other content */
    visibility: hidden; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

  .show-overlay {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  