.info-header {
  position: relative;
  top: 10px;
  left: 90px;
  font-size: 2vw;
}

.location{
  position: relative;
  color: gray;
  top:-20px;
  left: 90px;
  font-size: 1.7vw;
  

}

.MapPinIcon {
  position: relative;
  width: 1.7vw;
  height: 1.6vw;
  margin-right: 10px;
  transform: translateY(1px);
  
}

.ClockIcon{
  position: relative;
  width: 1.7vw;
  height: 1.6vw;
  margin-right: 10px;
  transform: translateY(2px);
}

.open{
  position: relative;
  color: gray;
  top:0px;
  left: 90px;
  font-size: 1.7vw;
  

  
}

.Intro{
  position: relative;
  max-width: 800px;
  top:30px;
  left:90px;
  font-size: 1.7vw;
}