.nav-link {
    text-decoration: none;
    color: orange;
    margin-right: 20px;
    padding: 8px 10px;
    transition: color 0.3s ease; /* Transition only the color */
    z-index: 9999;
  }

  .nav-link:hover {
    color: #FF5733; /* Change text color on hover */
    text-decoration: none;
  }

  .navbar .WebName{
    font-size: 40px;
    color: purple;
  }

  .navbar .WebName:hover {
    color: purple;
    text-decoration: none;
  }