.Businesses{
    text-align: center;
}

.Title {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: -0.025em;
}
  
@media (min-width: 640px) {
    .Title {
      font-size: 3rem;
    }
}
  
@media (min-width: 768px) {
    .Title {
      font-size: 4rem;
    }
}

.Description{
    color: gray
}

/* Styles for Card component */
.card {
    max-width: 30%;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.375rem;
    border: 1px solid #e2e8f0;
    background-color: #ffffff;
    color: #4a5568;
    box-shadow: 0 2px 2px 0 rgba(1, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem;
    margin-bottom: 40px;
}

.card_content{
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.verified {
  font-size: 0.875rem;
  font-weight: 600;
  color: #34d399;
}

.check_circle{
  height: 1.25rem;
  width: 1.25rem;
  color: #34d399;
}

a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set initial text color */
  transition: color 0.3s; /* Smooth color transition */
}
/* Define the styles for the link when hovering */
a:hover {
  text-decoration: underline;
}

.waiting {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f59e0b;
}

.clock_icon{
    height: 1.25rem;
    width: 1.25rem;
    color: #f59e0b;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1fa781;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1667a5;
}