/* General Styling */
.title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    text-align: center;
}

.cate {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.cate p {
    margin-right: 30px;
}

.fileUpload{
    margin-left: 30px;
}

.Description{
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

.inputlabel {
    font-weight: bold;
}

.infoinput {
    width: 200px;
}

/* Button Styles */
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.saveButton,
.backButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton {
    background-color: #007bff;
}

.backButton {
    background-color: red;
}

.saveButton:hover {
    background-color: #0056b3;
}

.backButton:hover {
    background-color: #b11111;
}

/* Dropdown Styling */
.select-container {
    position: relative;
    width: 250px;
    box-sizing: border-box;
}

.dropdown-item {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.fixed-width-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

/* Adjustments for Dropdown */
.MuiMenu-paper {
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Enable scrolling */
    position: absolute; /* Ensure it's positioned correctly */
}
